*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

nav {
  padding: 100px;
}

.logo {
  color: white;
  font-size: large;
}

ul.navbar-nav {
  margin: auto;
}

li.nav-item {
  margin-left: 20px;
}
