@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&family=Poppins&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Style */
section {
  background-color: #f0f2f5;
  padding-top: 6rem;
  height: 105vh;
}

.section-center {
  text-align: center;
}

@media (max-width: 992px) {
  nav {
    padding: 0 60px;
  }
}

/* Navbar */
nav {
  padding: 0 200px;
}

@media (max-width: 992px) {
  nav {
    padding: 0 60px;
  }
  .cart-amount {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
}

.store-logo {
  width: 50px;
}

li.nav-item {
  margin-left: 20px;
}

.login-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}

.login-cart > a {
  color: #fff;
}
.login-cart > a.active {
  border-bottom: 2px solid white;
  color: #f0f2f5;
}

.login-cart svg {
  margin-right: 20px;
  font-size: 1.5rem;
}

.cart-amount {
  position: absolute;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  top: 0;
  right: 60%;
}

/* Login Page  */
.login-logo {
  text-align: center;
  margin-bottom: 30px;
}

.login-card {
  padding-top: 6rem;
}

.login.container {
  max-width: 500px;
  background-color: #fff;
  box-shadow: 0px 1px 36px -7px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 1px 36px -7px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 1px 36px -7px rgba(0, 0, 0, 0.38);
  padding: 40px;
  border-radius: 30px;
}

.cart-logo {
  padding: 8px;
}

.btn-link {
  padding-top: 0;
  border-top: 0;
}

/* Cart Style */
.item button {
  background-color: transparent;
  border: none;
}

.cart-header {
  text-transform: uppercase;
  margin: 2rem 0;
}

.cart-container {
  margin: 1rem;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #a7a9aa;
  border-bottom: 2px solid #a7a9aa;
  padding: 2rem;
}

.item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 90%;
  margin: 10px;
}

.item img {
  width: 90px;
  text-align: right;
}

.item p {
  margin-bottom: 0;
}

.item-info {
  text-align: left;
}

.item-info h5 {
  font-size: 1rem;
  font-weight: bold;
}

.remove {
  color: rgb(255, 139, 139);
  text-transform: uppercase;
}

.amount {
  align-self: center;
}

.amount p {
  font-size: lrem;
}

.amount button {
  color: rgb(233, 147, 89);
}

.total {
  display: flex;
  justify-content: space-around;
  padding: 1rem 6rem 0;
}

.total .text {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.total .price {
  font-weight: bold;
}

.checkout {
  width: 60%;
  margin: 20px auto;
  border-radius: 10px;
}

/* Footer */
footer {
  background-color: rgb(29, 29, 29);
  color: white;
  padding: 30px;
  text-align: center;
  width: 100%;
}

footer h3,
footer p {
  margin: 0 auto;
}
