*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Style */
section {
  background-color: #f0f2f5;
  padding-top: 6rem;
  height: 100vh;
}

.section-center {
  text-align: center;
}

@media (max-width: 992px) {
  nav {
    padding: 0 60px;
  }
}

/* Navbar */
nav {
  padding: 0 200px;
}

@media (max-width: 992px) {
  nav {
    padding: 0 60px;
  }
}

.store-logo {
  width: 50px;
}

li.nav-item {
  margin-left: 20px;
}

.login-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.login-cart > a {
  color: #fff;
}
.login-cart > a.active {
  border-bottom: 2px solid white;
  color: #f0f2f5;
}

.login-cart svg {
  margin-right: 20px;
  font-size: 1.5rem;
}

/* Login Page  */
.login-card {
  padding-top: 6rem;
}

.login.container {
  max-width: 500px;
  background-color: #fff;
  box-shadow: 0px 1px 36px -7px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 1px 36px -7px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 1px 36px -7px rgba(0, 0, 0, 0.38);
  padding: 40px;
  border-radius: 30px;
}

.btn-link {
  padding-top: 0;
  border-top: 0;
}
